# Compiled Object files
*.slo
*.lo
*.o
*.d

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# QT Configurations
*.pro.user

# QT Build directory
QT-build/

# Binaries
bin/

# Simulator Sensor outputs
*.out

